@font-face {
    font-family: Arvo;
    font-style: normal;
    font-weight: 400;
    src: url("../resources/fonts/Arvo-Regular.ttf");
}

@font-face {
    font-family: Arvo;
    font-style: normal;
    font-weight: 700;
    src: url("../resources/fonts/Arvo-Bold.ttf");
}

@font-face {
    font-family: Arvo;
    font-style: italic;
    font-weight: 400;
    src: url("../resources/fonts/Arvo-Italic.ttf");
}

@font-face {
    font-family: Arvo;
    font-style: italic;
    font-weight: 700;
    src: url("../resources/fonts/Arvo-BoldItalic.ttf");
}

:root {
    --clr-black: #000000FF;
    --clr-dark-blue: #17184EFF;
    --clr-burgundy: #A12632FF;
    --clr-red: #D81114FF;
    --clr-yellow: #FFE81FFF;
    --ff-primary-body: "Arvo";
}

* {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
}

body {
    background-color: var(--clr-dark-blue);
}
